body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #fff;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000;
}

/* NAVEGACIÓN */
header {
    background: #fff;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    padding: 0 2em;
}

.header__logo {
    display: flex;
    height: 30px;
}

.nav__ul li {
    font-weight: 600;
    padding-right: 2em;
    display: inline-block;
}

.nav__li a:hover {
    color: #477CE0;
    display: block;
    transform: translateY(-4px);
    transition: .2s;
}

hr {
    border: 1px transparent #000;
    margin: 0 2em;
}

/* LOGO Y TÍTULO */
.titulo__grid-container {
    display: grid;
    grid-template-columns: 6em 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 30px;
}

/* NOTICIAS */
.noticias {
    color: #fff;
    background: #477CE0;
}

.noticias h2 {
    padding-top: 2em;
    padding-left: 2em;
}

.noticias__grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 2em 4em 2em 4em;
}

.grid-item--destacada {
    grid-column: 2 / 4;
    color: #000;
    background: #ffffff;
    transition: .2s;
    overflow: hidden;
    cursor: pointer;
    justify-content: center;
}

.grid-item--destacada h3 {
    text-align: center;
    margin-bottom: .5em;
    margin-top: .5em;
}

.grid-item--destacada p {
    text-align: justify;
    padding: 0 2em;
    margin-bottom: .5em;
    margin-top: .2em;
}

.grid-item--destacada:hover {
    transform: translateY(-4px);
}

.grid-item {
    grid-row: 2;
    color: #000;
    background: #ffffff;
    transition: .2s;
    overflow: hidden;
    cursor: pointer;
}

.grid-item h3 {
    text-align: center;
    margin-bottom: .5em;
    margin-top: 2em;
}

.grid-item p {
    text-align:justify;
    padding: .4em 2em;
    margin-top: .2em;
}

.grid-item:hover {
    transform: translateY(-4px);
}

/* MAIN - HISTORIA DEL TAEKWONDO */
.historiaDelTkd {
    background-color: #fff;
    color: #000;
    display: grid;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.historiaDelTkd h2 {
    padding-left: 0;
}

.historiaDelTkd p {
    margin-bottom: 1em;
    text-align: justify;
}

.historiaDelTkd a {
    color: #477CE0;
    font-size: small;
}

/* BIBLIOGRAFÍA DEL GENERAL CHOI */
.general-main {
    font-size: 1em;
    text-align: justify;
    margin: 1em 10em 2em 10em;
}

.general__img h1 {
    color: #fff;
    text-align: center;
    background: #477CE0;
}

.general-main p {
    margin: 1em;
}

.general__img img {
    float: left;
    height: 20em;
    width: 15em;
    margin-right: 1em;
    margin-bottom: .5em;
    margin-left: .5em;
}

.general__img span {
    font-size: .8rem;
    color: rgba(0,0,0,.6);
    text-align: center;
}

/* Iniciar Sesión */
.ingresar {
    width: 320px;
    height: 420px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border: 1px solid #000;
}

.ingresar__img {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.ingresar h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.ingresar label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.ingresar input {
    width: 100%;
    margin-bottom: 20px;
}

.ingresar input[type="text"], .ingresar input[type="password"] {
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}

.ingresar input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #477CE0;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.ingresar input[type="submit"]:hover {
    cursor: pointer;
}

.ingresar a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}

.ingresar a:hover {
    color: rgb(73, 66, 66);
}

/* Crear Cuenta */
.crear-cuenta {
    width: 50%;
    height: 80px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px 430px 30px;
    border: 1px solid #000;
}

.ingresar__img {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.crear-cuenta h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.crear-cuenta label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.crear-cuenta input {
    width: 100%;
    margin-bottom: 20px;
}

.crear-cuenta input[type="text"], .crear-cuenta input[type="password"] {
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}

.crear-cuenta input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #477CE0;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.crear-cuenta input[type="submit"]:hover {
    cursor: pointer;
}

.crear-cuenta a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}

.crear-cuenta a:hover {
    color: rgb(73, 66, 66);
}

/* FOOTER */
.footer {
    color: #fff;
    background-color: #3b5999;
    display:grid ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}

.footer__grid-item:first-child{
    padding: 2em 4em 2em 4em;
    text-align: justify;
}

.footer__grid-item:nth-child(2) {
    padding: 3em 4em 2em 4em;
}

/* TEORÍA DEL TAEKWONDO */
.teoriaDelTkd {
    margin-bottom: 2em;
}

.teoria {
    font-size: 18px;
    text-align: justify;
    display: block;
    margin: 1em 2em 0 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #c0b8b8;
}

.titulo {
    background:#477CE0;
    color:#fff;
    padding: 5px;
    margin-top: .8em;
    margin-bottom: .8em;
}

.teoria ul li, .teoria ol li {
    margin-left: 1.5em;
}

/* CONTACTO */
.footer__contacto {
    text-align: center;
}

.footer__contacto p {
    padding-bottom: 10px;
}

.footer__contacto a:hover {
    color: #55acee;
    transition: .2s;
    transform: translateY(-3px) scale(1.05);
}

/* FOOTER */

.footer__acercaDe h3 {
    padding-bottom: 10px;
}

.footer__acercaDe p {
    padding-bottom: 10px;
}

/* REDES */
.footer__nav {
    margin-left: .8em;
    padding-bottom: 0;
    padding-top: 3.5em;
    text-align: center;
}

.footer__nav ul li {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

.footer__nav ul li a {
    display: block;
    background-color: #333;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, .2);
    transition: .2s;
}

.footer__nav ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, .4);
}

.footer__nav ul li .footer__nav-facebook:hover {
    background: #3b5999;
}

.footer__nav ul li .footer__nav-twitter:hover {
    background: #55acee;
}

.footer__nav ul li .footer__nav-instagram:hover {
    background: #e4405f;
}

.footer__nav-facebook {
    color: #3b5999;
}

.footer__nav-twitter {
    color: #55acee;
}

.footer__nav-instagram {
    color: #e4405f;
}

.footer__grid-item:nth-child(3) {
    grid-column: 1/ 3;
}

/* COPYRIGHT */
.footer__copyright hr {
    margin-bottom: 12px;
}
.footer__copyright {
    text-align: center;
    font-size: 14px;
    padding: .5em 0 .5em 0;
}

@media only screen and (min-width: 401px) and (max-width 960px) {
    
}