@charset "UTF-8";
/* COLORES */
/* FUENTE */
header {
  height: 70px;
  align-items: center;
  padding: 0; }
  header nav {
    background-color: #fff;
    margin-bottom: .4rem; }
    header nav .navbar__logo {
      text-decoration: none;
      list-style: none;
      padding-right: 1rem;
      padding-bottom: .4rem;
      padding-left: 0;
      margin-top: 1rem;
      border-right: 1px solid #c5c0c0; }
    header nav .navbar__li {
      font-weight: 600;
      padding-top: 1em;
      padding-right: 2em;
      display: inline-block;
      transition: all .2s ease; }
      header nav .navbar__li:hover {
        transform: translate(0px, -5px); }
    header nav .navbar-toggler, header nav .form-control, header nav .btn {
      border-radius: 0;
      color: #fff; }
    header nav .btn {
      transition: all .2s ease; }
      header nav .btn:hover {
        color: #fff;
        transform: translate(0px, -1px); }

.footer {
  color: #fff;
  background-color: #6036a4;
  /* ACERCA DE */
  /* PAGINAS */
  /* REDES */
  /* CONTACTO */
  /* COPYRIGHT */ }
  .footer .col {
    list-style: none; }
    .footer .col h3, .footer .col h4 {
      text-align: center;
      font-size: 30px;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 2rem;
      font-weight: 600;
      position: relative; }
  .footer__acercaDe {
    padding: 2rem 4rem 2rem 4rem; }
  .footer__paginas {
    padding-top: 2rem;
    padding-left: 4rem; }
    .footer__paginas ul {
      padding: 0; }
      .footer__paginas ul li {
        list-style: none;
        padding-top: 1.5rem; }
        .footer__paginas ul li a {
          font-size: 18px;
          text-transform: capitalize;
          color: #ffffff;
          text-decoration: none;
          font-weight: 300;
          color: #fff;
          display: block;
          transition: all 0.3s ease; }
          .footer__paginas ul li a:hover {
            padding-left: 8px;
            color: #c0bbbb; }
  .footer__redes {
    text-align: center;
    padding-top: 2rem; }
    .footer__redes a {
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255, 255, 255, 0.2);
      margin: 1rem 5px 2rem 5px;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all .5s ease; }
      .footer__redes a:hover {
        color: #24262b;
        background-color: #ffffff; }
  .footer__redes-contacto {
    text-align: center; }
    .footer__redes-contacto h4 {
      padding-bottom: 1rem; }
    .footer__redes-contacto p {
      padding-bottom: .5rem; }
  .footer__copyright {
    text-align: center;
    font-size: 14px;
    padding-top: 1rem;
    border-top: 1px solid #cccdcf; }

/* DESKTOP */
@media only screen and (min-width: 560px) and (max-width: 4000px) {
  .navbar__start {
    padding-left: 1rem; }
  .noticias__responsive {
    display: none; }
  .general__main {
    margin: 1em 16em 2em 16em;
    padding-top: 2rem; }
  .general__img {
    float: left;
    padding-right: 1rem; }
  .general__img {
    height: 20em;
    width: 15em;
    margin-right: 2em;
    margin-bottom: .5em; }
  .general__img2 {
    display: flex;
    float: right;
    margin-left: 1rem;
    margin-bottom: .2rem; }
  .form {
    margin: 2rem auto 6rem auto;
    padding: 1rem 3rem; } }

/* MOBILE */
@media only screen and (max-width: 560px) {
  .navbar__logo {
    display: none; }
  .navbar__start {
    padding-left: 0; }
  .main__titulo .text-center {
    font-size: 40px; }
  #noticias h2 {
    font-size: 20px;
    text-align: center;
    margin: auto; }
  #noticias .noticias__principal {
    display: none; }
    #noticias .noticias__principal .noticias__responsive {
      display: block; }
  .teoriaDelTkd p, .teoriaDelTkd h3, .teoriaDelTkd h2, .teoriaDelTkd li {
    font-size: 20px; }
  .general__main {
    margin: 3rem;
    padding: 0;
    font-size: 25px; }
    .general__main h1 {
      font-size: 20px;
      padding: 0 1rem; }
  .general__img {
    display: block;
    margin: auto;
    padding: 1rem 0; }
  .general__img2 {
    display: block;
    margin: auto;
    padding-bottom: 1rem; }
  .form {
    margin: 2rem auto 7rem auto;
    padding: 1rem 3rem; }
  .footer {
    text-align: left;
    font-size: 16px; }
    .footer .col {
      width: 50%;
      margin-bottom: 30px; }
    .footer__acercaDe {
      padding: 1rem 1rem 0 1rem; }
    .footer__paginas {
      padding-left: 1rem; }
      .footer__paginas ul li {
        text-align: left; }
    .footer__redes {
      padding-left: 1rem;
      margin: 1rem 1rem 0 0;
      text-align: left; }
      .footer__redes p {
        font-size: 14px; }
      .footer__redes-contacto {
        text-align: left; } }

/* TABLET */
@media only screen and (min-width: 561px) and (max-width: 990px) {
  body {
    font-size: 14px; }
  .navbar ul {
    font-size: 10px; }
  .navbar__logo {
    display: none; }
  .navbar__start {
    padding-left: 0; }
  .main__titulo {
    display: block;
    margin-top: 2em;
    padding-bottom: 0;
    text-align: center; }
    .main__titulo__titulo img {
      width: 200px;
      height: 200px; }
    .main__titulo__container h1 {
      font-size: 40px;
      display: block; }
  .noticias__principal {
    display: none; }
  .noticias__responsive {
    display: block; }
  .teoriaDelTkd {
    font-size: 25px; }
  .general__main {
    font-size: 25px;
    margin: 1em 2em 2em 2em; }
  .footer .col {
    width: 50%;
    margin-bottom: 30px; }
  .footer__acercaDe {
    margin-bottom: 0;
    padding-bottom: 0; } }

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  font-weight: 400;
  margin: 0; }

a {
  text-decoration: none;
  color: #000; }

/* LOGO Y TÍTULO */
.main__titulo {
  margin: 0; }
  .main__titulo img {
    width: 300px;
    height: 300px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4em; }
  .main__titulo h1 {
    color: #000;
    font-weight: bolder;
    font-size: 60px;
    padding-top: .5em; }

/* NOTICIAS */
#noticias {
  background: #6036a4;
  text-align: center; }
  #noticias h2 {
    text-align: left;
    padding-top: 1em;
    padding-left: 1em;
    color: #fff;
    font-weight: 600; }
  #noticias .noticia__noticias {
    width: 18rem;
    margin: 2rem 0;
    padding: 0;
    border: none;
    border-radius: 0; }
    #noticias .noticia__noticias img {
      border-radius: 0; }
    #noticias .noticia__noticias button {
      border-radius: 0; }
      #noticias .noticia__noticias button:hover {
        color: #fff; }
  #noticias .card {
    cursor: pointer;
    transition: all .2s ease; }
    #noticias .card:hover {
      transform: translate(0px, -6px); }

/* HISTORIA DEL TAEKWONDO */
.historiaDelTkd {
  color: #000;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em; }
  .historiaDelTkd h2 {
    padding-top: 2em;
    padding-left: 0; }
  .historiaDelTkd p {
    margin-bottom: 1em;
    text-align: justify; }
  .historiaDelTkd a {
    color: #6036a4;
    font-size: small; }

/* TEORIA DEL TAEKWONDO */
.teoriaDelTkd {
  margin-bottom: 2em;
  padding-top: 2rem; }
  .teoriaDelTkd .teoria {
    font-size: 16px;
    display: block;
    margin: 1em 2em 0 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #c0b8b8; }
    .teoriaDelTkd .teoria h1, .teoriaDelTkd .teoria h2, .teoriaDelTkd .teoria h3 {
      font-size: 25px; }
    .teoriaDelTkd .teoria ul li {
      margin-left: .5em; }
    .teoriaDelTkd .teoria ol li {
      margin-left: .5em; }
  .teoriaDelTkd .titulo {
    background: #6036a4;
    color: #fff;
    padding: 5px;
    margin-top: .8em;
    margin-bottom: .8em; }

/* BIBLIOGRAFÍA DEL GENERAL CHOI */
.general__main {
  color: #000;
  font-size: 16px;
  text-align: justify; }
  .general__main h1 {
    color: #fff;
    text-align: center;
    background: #6036a4; }
  .general__main h2 {
    color: #fff;
    background: #6036a4;
    font-size: 25px;
    padding: 5px;
    margin: 1rem 0; }
  .general__main p {
    text-align: justify; }

.general__final-img {
  width: auto; }

/* INGRESAR */
.ingresar {
  display: flex;
  padding-top: 3.5rem;
  padding-bottom: 4.3rem; }

.form {
  border: 1px solid #3b89ad;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2); }
  .form__titulo {
    font-size: 2rem;
    margin-bottom: .5rem;
    text-align: center;
    color: #3b89ad; }
  .form__p {
    font-weight: 300; }
  .form__container {
    margin-top: 3rem;
    display: grid; }
  .form__grupo {
    color: #000;
    margin-bottom: 1rem; }
  .form__input {
    width: 100%;
    background: none;
    color: #776f6f;
    font-size: 1rem;
    padding: .6rem .3rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #776f6f; }
  .form__reset-password {
    padding-bottom: 0; }
  .form__submit {
    margin: 0 0 1rem 0;
    border: none;
    outline: none;
    height: 40px;
    background-color: #6036a4;
    color: #fff;
    transition: all .2s ease; }
    .form__submit:hover {
      transform: translate(0px, -2px); }

/* CREAR CUENTA */
.crear-cuenta {
  padding: 2rem 2rem 4rem 2rem; }
  .crear-cuenta .form {
    margin-top: 2rem;
    padding: 0 2rem;
    width: 90%; }
    .crear-cuenta .form__container {
      margin-top: 1rem; }
    .crear-cuenta .form__titulo {
      margin-bottom: .2rem; }

/* EXTEND */
.cambio-color, .footer, #noticias, .teoriaDelTkd .teoria h1, .teoriaDelTkd .teoria h2, .teoriaDelTkd .teoria h3, .general__main h1, .general__main h2, .form__submit {
  background: #3b89ad; }

.cambio-color-hover a:hover, header nav .navbar__li a:hover {
  color: #3b89ad; }
