.footer {
    @extend .cambio-color;
    color: $color-claro;
    background-color: $color-principal;

    .col{
        list-style: none;
        h3, h4{
            text-align: center;
            font-size: 30px;
            color: #ffffff;
            text-transform: capitalize;
            margin-bottom: 2rem;
            font-weight: 600;
            position: relative;
        }
    }

/* ACERCA DE */
    &__acercaDe {
        padding: 2rem 4rem 2rem 4rem;
    }

/* PAGINAS */
&__paginas {
    padding-top: 2rem;
    padding-left: 4rem;
    ul {
        padding: 0;
        li{
            list-style: none;
            padding-top: 1.5rem;
            a{
                font-size: 18px;
                text-transform: capitalize;
                color: #ffffff;
                text-decoration: none;
                font-weight: 300;
                color: #fff;
                display: block;
                transition: all 0.3s ease;
                &:hover {
                    padding-left: 8px;
                    color: rgb(192, 187, 187);
                }
            }
        }
    } 
}

/* REDES */
&__redes {
    text-align: center;
    padding-top: 2rem;
    a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin: 1rem 5px 2rem 5px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all .5s ease;
        &:hover {
            color: #24262b;
            background-color: #ffffff;
        }
    }
} 

/* CONTACTO */
&__redes-contacto {
    text-align: center;
    h4 {
        padding-bottom: 1rem;
    }
    p {
        padding-bottom: .5rem;
    }
}

/* COPYRIGHT */
    &__copyright {
        text-align: center;
        font-size: 14px;
        hr {
            margin-bottom: 10px;
        }
    }
}