header {
    height: 70px;
    align-items: center;
    padding: 0;
    nav {
        background-color: $color-claro;
        margin-bottom: .4rem;
        li {
            @extend .cambio-color-hover;
            font-weight: 600;
            padding-top: 1em;
            padding-right: 2em;
            display: inline-block;
            transition: all .2s ease;
            &:hover {
                transform: translate(0px, -5px);
            }
        }
    }
    
    hr {
        border: 1px transparent #000;
    }
}