.historiaDelTkd {
    color: $font-color-negro;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    h2 {
        padding-top: 2em;
        padding-left: 0;
    }
    p {
        margin-bottom: 1em;
        text-align: justify;
    }
    a {
        color: $color-principal;
        font-size: small;
    }
}