/* DESKTOP */
@media only screen and (min-width:560px) and (max-width: 4000px) {
    .navbar__start {
        padding-left: 1rem;
    }
    
    .noticias__responsive {
        display: none;
    }

    .general {
        &__main {
                margin: 1em 16em 2em 16em;
                padding-top: 2rem;
            }

        &__img {
            float: left;
            padding-right: 1rem;
        }

        &__img {
            height: 20em;
            width: 15em;
            margin-right: 2em;
            margin-bottom: .5em;
        }

        &__img2 {
            display: flex;
            float:right;
            margin-left: 1rem;
            margin-bottom: .2rem;
        }
    }

        .form {
            margin: 2rem auto 6rem auto;
            padding: 1rem 3rem;
        }
}

/* MOBILE */
@media only screen and (max-width:560px) {
    .navbar {
        &__logo {
            display: none;
        }

        &__start {
            padding-left: 0;
        }
    }

    .main__titulo {

        .text-center {
            font-size: 40px;
        }
    }

    #noticias {
        h2 {
            font-size: 20px;
            text-align: center;
            margin: auto;
        }

        .noticias__principal {
            display: none;
            .noticias__responsive {
                display: block;
            }
        }
    }

    .teoriaDelTkd {
        p, h3, h2, li {
            font-size: 20px;
        }
    }

    .general {
        &__main {
            margin: 3rem;
            padding: 0;
            font-size: 25px;

            h1 {
                font-size: 20px;
                padding: 0 1rem;
            }
        }
        
        &__img {
            display: block;
            margin: auto;
            padding: 1rem 0;
        }

        &__img2 {
            display: block;
            margin: auto;
            padding-bottom: 1rem ;
        }
    }

    .form {
        margin: 2rem auto 7rem auto;
        padding: 1rem 3rem;
    }


    .footer {
        text-align: left;
        font-size: 16px;

        .col{
            width: 50%;
            margin-bottom: 30px;
        }

        &__acercaDe {
            padding: 1rem 1rem 0 1rem;
        }

        &__paginas {
            padding-left: 1rem;
            ul {
                li {
                    text-align: left;
                }
            }
        }

        &__redes {
            padding-left: 1rem;
            margin: 1rem 1rem 0 0;
            text-align: left;
            p {
                font-size: 14px;
            }
            &-contacto {
                text-align: left;
            }
        }
    }
}

/* TABLET */
@media only screen and (min-width: 561px) and (max-width: 990px) {
    body {
        font-size: 14px;
    }

    .navbar {
        ul {
            font-size: 10px;
        }

        &__logo {
            display: none;
        }

        &__start {
            padding-left: 0;
        }
    }

    .main__titulo {
        display: block;
        margin-top: 2em;
        padding-bottom: 0;
        text-align: center;
        &__titulo {
            img {
                width: 200px;
                height: 200px;
            }
        }

        &__container {
            h1 {
                font-size: 40px;
                display: block;
            }
        }
    }

    .noticias__principal{
        display: none;
    }

    .noticias__responsive {
        display: block;
    }

    .teoriaDelTkd {
        font-size: 25px;
    }

    .general__main {
        font-size: 25px;
        margin: 1em 2em 2em 2em;
    }

    .footer {
        .col{
            width: 50%;
            margin-bottom: 30px;
        }

        &__acercaDe {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}