/* MOBILE */
@media only screen and (max-width:540px) {

    body {
        font-size: 14px;
    }

    .navbar {
        &__logo {
            display: none;
        }
    }

    .main__titulo {
        display: block;
        text-align: center;
        h1 {
            font-size:smaller;
        }
    }

    #noticias {
        h2 {
            font-size: 14px;
        }

        .noticias__responsive {
            display: block;
        }
        .noticias{
            display: none;
        }
    }

    .teoriaDelTkd {
        p, h3, h2, li {
            font-size: 14px;
        }
    }

    .general-main {
        margin: 0;
        padding: 0;
    }

    .crear-cuenta {
        width: 28rem;
    }

    footer {
        padding: 1em;
        .footer__acercaDe {
            padding: 1em;
            h3 {
                font-size: 14px;
            }
            p {
                font-size: 14px;
            }
        }
        .footer__contacto {
            padding: 1em;
            p {
                font-size: 14px;
            }
        }
        .footer__nav {
            margin-left: 0;
            margin-right: 1rem;
            ul {
                li {
                    font-size: 14px;
                }
            }
        }
        .col{
            width: 100%;
        }
    }
}

/* TABLET */
@media only screen and (min-width: 541px) and (max-width: 980px) {
    body {
        font-size: 14px;
    }

    .header__hr {
        display: none;
    }

    .navbar {
        ul {
            font-size: 10px;
        }

        &__logo {
            display: none;
        }
    }

    .main__titulo {
        display: block;
        margin-top: 2em;
        padding-bottom: 0;
        text-align: center;
        &__titulo {
            img {
                width: 200px;
                height: 200px;
            }
        }
        &__container {
            h1 {
                font-size: 40px;
                display: block;
            }
        }
    }

    .noticias{
        display: none;
    }
    
    .noticias__responsive {
        display: block;
    }
    
    .noticias__noticia {
        height: auto;
    }

    .teoriaDelTkd {
        font-size: 10px;
    }

    .general-main {
        font-size: 1em;
        text-align: justify;
        margin: 1em 2em 2em 2em;
    }

    .footer {
        &__contacto {
            margin-top: 2em;
            align-items: center;
        }
        &__nav {
            height: 200px;
            width: 300px;
            padding-right: 0;
        }
        .col{
            width: 50%;
            margin-bottom: 30px;
        }
    }
}