#noticias {
    background: $color-principal;
    text-align: center;
    h2 {
        text-align: left;
        padding-top: 1em;
        padding-left: 1em;
        color: $font-color-blanco;
        font-weight: 600;
    }
}

.noticias__noticia {
    color: $font-color-negro;
    &:hover {
        transition: .3s;
        transform: translateY(-4px) scale(1.05);
        box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, .4);
    }
}