@import 'variables';
@import 'header';
@import 'noticias';
@import 'hitoria_del_tkd';
@import 'general_choi';
@import 'teoria';
@import 'ingresar';
@import 'crear_cuenta';
@import 'footer';
@import 'media_queries';

body {
    font-family: $fuente-principal;
    background-color: $color-de-fondo;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: $font-color-negro;
}

/* LOGO Y TÍTULO */
.main__titulo {
    img {
        width: 300px;
        height: 300px;
        margin-left: 0;
        margin-top: 4em;
    }
    h1 {
        color: $font-color-negro;
        font-weight: bolder;
        font-size: 80px;
        padding-top: .5em;
    }
}