@import 'variables';
@import 'header';
@import 'noticias';
@import 'hitoria_del_tkd';
@import 'general_choi';
@import 'teoria';
@import 'ingresar';
@import 'crear_cuenta';
@import 'footer';
@import 'media_queries';

body {
    font-family: $fuente-principal;
    background-color: $color-de-fondo;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: $font-color-negro;
}

/* LOGO Y TÍTULO */
.main__titulo {
    img {
        width: 300px;
        height: 300px;
        margin-left: 0;
        margin-top: 4em;
    }
    h1 {
        color: $font-color-negro;
        font-weight: bolder;
        font-size: 80px;
        padding-top: .5em;
    }
}

#noticias {
    background: $color-principal;
    text-align: center;
    h2 {
        text-align: left;
        padding-top: 1em;
        padding-left: 1em;
        color: $font-color-blanco;
        font-weight: 600;
    }
}

.noticias__noticia {
    color: $font-color-negro;
    &:hover {
        transition: .3s;
        transform: translateY(-4px) scale(1.05);
        box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, .4);
    }
}